<FilesMatch "^config\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "^\.env$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "^actions\.log$">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^\.git/ - [F]
    RewriteRule ^\.gitignore$ - [F]
    RewriteRule ^README - [F]
    RewriteRule ^logs/ - [F]
</IfModule>

Options -Indexes
